# Install the following with **pip3**
# You may use a virtualenvironment if you want

# Gui requirements
pyside

# Database requirements
mysql-python
mysql-connector-python

# Important:
# MySQL must be installed, and you must know a 
# username and password. It's recommended that
# you don't use an important account, because
# the apps use of password settings is not 
# security focused
